import { {{EntityName}}Page } from '@pages/{{entityNameKebab}}'
{{#needsNavigate}}

interface Props {
  onNavigate: (view: string, arg?: string) => void
}
{{/needsNavigate}}

export function {{PageName}}Screen({{#needsNavigate}}{ onNavigate }: Props{{/needsNavigate}}) {
  return <{{EntityName}}Page{{#hasPresetFilter}} initialFilters={ {{presetFilterTs}} }{{/hasPresetFilter}}{{#hasRecordPage}} onOpenRecord={r => onNavigate('{{recordPageId}}', String(r.{{recordPk}}))}{{/hasRecordPage}} />
}
