import { useResource, type PageParams } from '@shared/api'
import type { {{EntityName}} } from '../model/types'

export function use{{EntityName}}(params: PageParams) {
  return useResource<{{EntityName}}>('/api/{{entityNamePluralKebab}}', params)
}
