<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>central</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
            <configuration>
                <httpConfiguration>
                    <all>
                        <readTimeout>120000</readTimeout>
                        <connectionTimeout>120000</connectionTimeout>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>
        <server>
            <id>snapshots</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
            <configuration>
                <httpConfiguration>
                    <all>
                        <readTimeout>120000</readTimeout>
                        <connectionTimeout>120000</connectionTimeout>
                    </all>
                </httpConfiguration>
            </configuration>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>internal-release</id>
            <name>Release Repo</name>
            <url>{{ MIRROR_RELEASE_URL }}</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <mirror>
            <id>internal-snapshot</id>
            <name>Snapshot Repo</name>
            <url>{{ MIRROR_SNAPSHOT_URL }}</url>
            <mirrorOf>snapshots</mirrorOf>
        </mirror>
    </mirrors>
</settings>
