package {{packageName}}.config;

import com.mongodb.client.MongoClient;
import com.mongodb.client.MongoClients;

import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.data.mongodb.MongoDatabaseFactory;
import org.springframework.data.mongodb.core.MongoTemplate;
import org.springframework.data.mongodb.core.SimpleMongoClientDatabaseFactory;
import org.springframework.data.mongodb.repository.config.EnableMongoRepositories;

@Configuration
@EnableMongoRepositories(
        basePackages = "{{packageName}}.mongodb.repository",
        mongoTemplateRef = "mongoTemplate"
)
public class MongoConfig {

    @Value("${mongodb.uri:mongodb://localhost:27017/appdb}")
    private String uri;

    @Value("${mongodb.database:appdb}")
    private String database;

    @Bean(name = "mongoClient")
    public MongoClient mongoClient() {
        return MongoClients.create(uri);
    }

    @Bean(name = "mongoDatabaseFactory")
    public MongoDatabaseFactory mongoDatabaseFactory(
            @Qualifier("mongoClient") MongoClient mongoClient) {
        return new SimpleMongoClientDatabaseFactory(mongoClient, database);
    }

    @Bean(name = "mongoTemplate")
    public MongoTemplate mongoTemplate(
            @Qualifier("mongoDatabaseFactory") MongoDatabaseFactory factory) {
        return new MongoTemplate(factory);
    }
}
