package {{packageName}}.config;

import io.swagger.v3.oas.models.OpenAPI;
import io.swagger.v3.oas.models.info.Contact;
import io.swagger.v3.oas.models.info.Info;
import io.swagger.v3.oas.models.info.License;
import io.swagger.v3.oas.models.servers.Server;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

import java.util.List;

@Configuration
public class OpenApiConfig {

    @Bean
    public OpenAPI menoraOpenApi() {
        return new OpenAPI()
                .info(new Info()
                        .title("{{artifactId}} API")
                        .version("{{version}}")
                        .description("REST API for {{artifactId}}")
                        .contact(new Contact().name("Menora Platform").email("platform@menora.co.il"))
                        .license(new License().name("Internal").url("https://menora.co.il")))
                .servers(List.of(
                        new Server().url("/").description("Current host")
                ));
    }
}
